<link rel="stylesheet" href="/stylesheets/review/review.css" />
<link rel="stylesheet" href="/stylesheets/review/content.css">
<div
  class="modal fade"
  id="reviewModal"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          공릉역 1번 출구
        </h1>
      </div>
      <div class="modal-body">
        <div class="review">
          <%
            const reviews = [
              "붕어빵 맛집이에요!! 지나가시는 분은 꼭 먹어보세요 강추합니다~",
              "개인적으로 팥붕에 비해 슈붕은 좀 아쉬웠어요... 고민하시는 분은 팥붕 드시는 거 추천합니다",
              "어묵이 너ㅓㅓㅓㅓㅓ무 비싸요",
              "사장님이 살짝 불친절한 거 같지만 맛은 또 기깔나서 뭐라 못 하겠어요",
              "붕어빵이 이븐하게 익었어요",
              "어묵 짱맛~",
              "매주 목요일마다 쉰다고 하네요 오실 분들은 참고하세요",
              "맛있어요",
              "사장님 인상이 무서워요",
              "붕어빵 맛집이에요 꼭 한 번씩 드셔보세요 제발요"
            ];

            reviews.forEach(review => { %>
              <%- include("content", {content: review, like: 24}) %>
            <% });
          %>
          <button type="button" class="btn">리뷰 더보기 (20/46)</button>
        </div>
      </div>
    </div>
  </div>
</div>
