<link rel="stylesheet" href="/stylesheets/floating.css" />
<div class="floating">
  <button>
    <img src="/images/floating/user.svg" />
  </button>
  <button
    data-bs-target="#registerModal"
    data-bs-toggle="modal"
    onclick="resetRegister()"
  >
    <img src="/images/floating/register.svg" />
  </button>
</div>
