<link rel="stylesheet" href="/stylesheets/floating.css" />
<div class="floating">
  <button>
    <img src="/images/floating/user.svg" />
  </button>
  <button <% if(isLogin) { %>
    data-bs-target="#registerModal" data-bs-toggle="modal"<% } else {
    %>onclick="location.href='/account/signin'"<% } %>>
    <img src="/images/floating/register.svg" />
  </button>
</div>
