<script src="/javascripts/menu.js"></script>
<link rel="stylesheet" href="/stylesheets/menu.css" />
<div class="menu">
  <% if(isLogin) { %>
  <button onclick="logout()">
    <img src="/images/menu/logout.svg" />
  </button>
  <button onclick="location.href='/account/password'">
    <img src="/images/menu/user.svg" />
  </button>
  <% }else { %>
  <button onclick="location.href='/account/signin'">
    <img src="/images/menu/user.svg" />
  </button>
  <% } %>
  <button <% if(isLogin) { %>
    data-bs-target="#registerModal" data-bs-toggle="modal"<% } else {
    %>onclick="location.href='/account/signin'"<% } %>>
    <img src="/images/menu/register.svg" />
  </button>
</div>
