<link rel="stylesheet" href="/stylesheets/review_content.css">
<div class="review_content">
  <p><%= content %></p>
  <div>
    <button class="left">
      <img src="/images/report.svg" alt="" />
      <span>이 리뷰 신고하기</span>
    </button>
    <button class="right">
      <img src="/images/thumb.svg" alt="리뷰 추천" />
      <span><%= like %></span>
    </button>
    <!-- <button>
      <img src="/images/delete.svg" alt="삭제" />
      <span>삭제</span>
    </button> -->
  </div>
</div>