<link rel="stylesheet" href="/stylesheets/review.css" />
<script src="/javascripts/review.js"></script>
<div class="modal fade" id="reviewModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 review-title"></h1>
      </div>
      <div class="modal-body">
        <div class="review"></div>
        <button
          type="button"
          class="btn btn-light mt-4 review-btn"
          onclick="review.nextPage()"
        ></button>
      </div>
    </div>
  </div>
</div>
