<link rel="stylesheet" href="/stylesheets/store.css" />
<script src="/javascripts/store.js"></script>
<div id="storeInfoTemplate" class="store template">
  <div class="title">
    <strong class="store-name"></strong>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      onclick="storeViewer.hide()"
    ></button>
  </div>
  <div class="meta">
    <div class="store-distance">
      <img src="/images/store/near.svg" />
      <span></span>
    </div>
    <div>
      <img src="/images/store/star.svg" />
      <span class="store-rate"></span>
    </div>
  </div>
  <button
    type="button"
    class="more btn btn-primary mt-4 mb-2 store-review"
    onclick="review = new Review(storeViewer.store)"
  ></button>
  <div class="link">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-target="#rateModal"
      data-bs-toggle="modal"
      onclick="rate = new Rate(storeViewer.store)"
    >
      리뷰 남기기
    </button>
    <button
      type="button"
      class="btn"
      onclick="report.show(storeViewer.store.id)"
    >
      잘못된 정보 알려주기
    </button>
  </div>
</div>
