<link rel="stylesheet" href="/stylesheets/store.css" />
<div id="storeInfoTemplate" class="store template">
  <div class="title">
    <strong>공릉역 1번 출구</strong>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      onclick="storeViewer.hide()"
    ></button>
  </div>
  <div class="meta">
    <div>
      <img src="/images/store/near.svg" />
      <span>124m</span>
    </div>
    <div>
      <img src="/images/store/star.svg" />
      <span>4.5 (92)</span>
    </div>
  </div>
  <button
    type="button"
    class="more btn btn-primary mt-4 mb-2"
    data-bs-toggle="modal"
    data-bs-target="#reviewModal"
  >
    이 가게의 5개 리뷰 보기
  </button>
  <div class="link">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-target="#rateModal"
      data-bs-toggle="modal"
      onclick="resetRate()"
    >
      리뷰 남기기
    </button>
    <button
      type="button"
      class="btn"
      data-bs-target="#reportModal"
      data-bs-toggle="modal"
      onclick="resetReport()"
    >
      잘못된 정보 알려주기
    </button>
  </div>
</div>
