.menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu > button {
  display: flex;
  padding: 0.7rem;
  border-radius: 50%;
  border: 1px solid #cd9848;
  background-color: #ffffff;
  transition: 0.2s;
}

.menu > button:hover {
  box-shadow: 0px 3px 6px 0px #c59348;
}

.menu > button img {
  height: 1.8rem;
  margin: auto;
}
