.review {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.review p {
  font-size: 1rem;
  background-color: #f3f3f3;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  margin: 0;
}

.review button {
  font-size: 0.9rem;
}
