.store {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.7rem;
  width: 20rem;
}

.store.template {
  display: none;
}

.store .title {
  display: flex;
  justify-content: space-between;
}

.store .title strong {
  font-size: 1.2rem;
  font-weight: 700;
}

.store .meta {
  display: flex;
  gap: 2rem;
}

.store .meta div {
  display: inline-flex;
  gap: 0.2rem;
}

.store .meta div img {
  height: 1rem;
  margin: auto 0;
}

.store .meta div span {
  font-size: 1rem;
  min-width: 4rem;
}

.store .more {
  width: 100%;
}
